/*.home{*/
/*    min-height: 90vh;*/
/*}*/
.hero{
    height: 90vh;
    margin-top: 10vh;
    background-image: url(./bg.png);
    background-position: center;
    background-size: cover;
    padding: 0 30px;
    display: grid;
    grid-template-columns: 50% 50%;
    align-items: center;
    overflow: hidden;
}
.heroTitle h1{
    font-size:60px;
    color: var(--white);
    line-height: 80px;
    margin-bottom: 10px;
}

.heroTitle h1 span {
    color: var(--white);
}
.heroTitle p{
    color: var(--white);
    margin-bottom: 10px;
}
.company{
    padding:0 20px;
    text-align: center;
}
.companyIcon{
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    gap:30px;
}
.companyIcon svg {
    margin-top: 10px;
}

.timeline{
    text-align: center;
    width: 70%;
    margin: 100px auto;
}
.timeline h3{
    font-size: 40px !important;
    text-shadow: 2px 3px 0 rgba(0, 255, 225, 0.62);
    padding-bottom: 30px;
}
.mobileTimeLine{
    display: none;
}
.company h3{
    font-size: 40px;
    text-shadow: 2px 3px 0 rgba(0, 42, 255, 0.62);
    padding-bottom: 30px;
}
@media screen and (min-width: 800px) and (max-width: 1200px){
    .heroTitle h1{
        font-size: 50px;
        margin-top: -50px;
        line-height: 50px;
    }.heroTitle p{
        font-size: 20px;
    }
    .company h3{
        font-size: 40px;

    }
}
@media screen and (max-width: 800px) {
    .hero{
        grid-template-columns: 100%;
        align-items: self-start;
    }
    .heroImage{
        display:none;
    }
    .heroTitle h1{
        font-size: 40px;
        line-height: 50px;
        padding-top: 60px;
    }.heroTitle p{
        font-size: 18px;
        padding-top: 20px;
    }
    .timelineCard{
        display: none;
    }
    .mobileTimeLine{
        display: block;
    }
    .mobileTimeLine .card{
        margin-top: 20px;
        border-left: 5px solid var(--primary);
    }
    .timeline{
        width: 98%;
    }
    .timeline h3{
        font-size: 40px;
        text-shadow: 2px 3px 0 rgba(0, 255, 225, 0.62);
        padding-bottom: 30px;
    }
    .timeline p{
        font-size: 29px;
        line-height: 36px;
    }
    .company h3{
        font-size: 30px;
        text-shadow: 2px 3px 0 rgba(0, 42, 255, 0.62);
        padding-bottom: 30px;
    }
}

